<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Papelaria</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="./static/css/dashboard.css">

    <script src="./static/js/dashboard.js"></script>
</head>
<body>
   <!-- 
    <div class="menu">
        <button class="home-button" onclick="window.location.href='/'">🏠</button>
        <button class="menu-button" onclick="window.location.href='/promocao'">Promoção</button>
        <button class="menu-button" onclick="window.location.href='/canecas'">Canecas</button>
        <button class="menu-button" onclick="window.location.href='/brindes'">Brindes</button>
        <button class="menu-button" onclick="window.location.href='/personalizados'">Personalizados</button>
        <button class="menu-button" onclick="window.location.href='/prontaentrega'">Pronta Entrega</button>
        <input class="search" type="text" placeholder="Search">
    </div>
        -->

        <div class="menu">
        <button class="home-button" onclick="window.location.href='/'">🏠</button>
        <button class="menu-button" onclick="window.location.href='/promocao'">🌟Promoção</button>
        <button class="menu-button" onclick="window.location.href='/canecas'">🍵Canecas</button>
        <button class="menu-button" onclick="window.location.href='/brindes'">🎁Brindes</button>
        <button class="menu-button" onclick="window.location.href='/personalizados'">🎨Personalizados</button>
        <button class="menu-button" onclick="window.location.href='/prontaentrega'">⚡Pronta Entrega</button>
        <input class="search" type="text" placeholder="🔍Pesquisar">
    </div>

    <div class="background-menu-lateral"></div>
    <div class="right-section">
        <div class="register-button" onclick="location.href='/painel'">Cadastre-se</div>
        <div class="login-button" onclick="location.href='/painel'">Entrar</div>
        <div class="checkout-button" onclick="location.href='/carrinho'"> Carrinho
        </div>
    </div>

    <div class="menu-bar-bottom"></div>
    <h1>Papelaria</h1>
    <div class="gallery">
        <div class="gallery-item">
            <img src="/static/images/agendas.webp" alt="Produto 1">
            <div class="price">€20.00</div>
            <div class="buttons">
                <button class="view-product">Ver Produto</button>
                <button class="buy-now">Comprar</button>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/images/canecas.webp" alt="Produto 2">
            <div class="price">€25.00</div>
            <div class="buttons">
                <button class="view-product">Ver Produto</button>
                <button class="buy-now">Comprar</button>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/images/cartoesvisita.webp" alt="Produto 3">
            <div class="price">€25.00</div>
            <div class="buttons">
                <button class="view-product">Ver Produto</button>
                <button class="buy-now">Comprar</button>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-item">
            <img src="/static/images/caixas.webp" alt="Produto 4">
            <div class="price">€20.00</div>
            <div class="buttons">
                <button class="view-product">Ver Produto</button>
                <button class="buy-now">Comprar</button>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/images/camisas.webp" alt="Produto 5">
            <div class="price">€25.00</div>
            <div class="buttons">
                <button class="view-product">Ver Produto</button>
                <button class="buy-now">Comprar</button>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/static/images/canecas-2.webp" alt="Produto 6">
            <div class="price">€25.00</div>
            <div class="buttons">
                <button class="view-product">Ver Produto</button>
                <button class="buy-now">Comprar</button>
            </div>
        </div>
    </div>
    <button class="galery-button">Ver mais produtos</button>

    <div class="header-dashboard"></div>
    <div class="dashboard">
        <h2 class="dashboard-title">Promoções e Novidades</h2>
        <div class="slideshow">
            <div class="slideshow-container">
                <img class="slideshow-image" src="" alt="Promoção">
                <div class="slideshow-description"></div>
            </div>
        </div>
    </div>
    
    <div class="produtos-categoria">
        <div class="categoria-botao" onclick="location.href='canecas.html'">
            <img src="./static/images/canecas.webp" alt="Canecas">
            <p>Canecas</p>
        </div>
        <div class="categoria-botao" onclick="location.href='camisas.html'">
            <img src="./static/images/camisas.webp" alt="Camisas">
            <p>Camisas</p>
        </div>
        <div class="categoria-botao" onclick="location.href='agendas.html'">
            <img src="./static/images/agendas-botao.webp" alt="Agendas">
            <p>Agendas</p>
        </div>
        <div class="categoria-botao" onclick="location.href='topper.html'">
            <img src="./static/images/topper-botao.webp" alt="Topper">
            <p>Topper</p>
        </div>
        <div class="categoria-botao" onclick="location.href='caixas.html'">
            <img src="./static/images/caixas-botao.webp" alt="Caixas">
            <p>Caixas</p>
        </div>
    </div>
    

    <div class="modal-redesocial">
        <div class="submodal-redesocial"></div>
    </div>
    <div class="social-links">
        <div class="social-botao">
            <img src="./static/images/instagram.webp" alt="Instagram">
            <p>Instagram</p>
        </div>
        <div class="social-botao">
            <img src="./static/images/facebook.webp" alt="Facebook">
            <p>Facebook</p>
        </div>
        <div class="social-botao">
            <img src="./static/images/whatsapp.webp" alt="WhatsApp">
            <p>WhatsApp</p>
        </div>
    </div>

    <div class="background-lat-esq">
        <img class="feedback-image" src="./static/feedback/feedback1.png" alt="Feedback">
        <img class="feedback-image" src="./static/feedback/feedback2.png" alt="Feedback">
        <img class="feedback-image" src="./static/feedback/feedback3.png" alt="Feedback">
    </div>
    
    <div class="background-categorias"></div>
    <div class="background-lat-dir"></div>
    <div class="background-bottom"></div>
    <div class="background-tracker"></div>
</body>
</html>
