<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estação Criativa</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="./static/css/dashboard.css">
    <link rel="stylesheet" href="./static/css/painel.css">

    <script src="./static/js/dashboard.js"></script>
</head>
<body>
   <!-- 
    <div class="menu">
        <button class="home-button" onclick="window.location.href='/'">🏠</button>
        <button class="menu-button" onclick="window.location.href='/promocao'">Promoção</button>
        <button class="menu-button" onclick="window.location.href='/canecas'">Canecas</button>
        <button class="menu-button" onclick="window.location.href='/brindes'">Brindes</button>
        <button class="menu-button" onclick="window.location.href='/personalizados'">Personalizados</button>
        <button class="menu-button" onclick="window.location.href='/prontaentrega'">Pronta Entrega</button>
        <input class="search" type="text" placeholder="Search">
    </div>
        -->

        <div class="menu">
        <button class="home-button" onclick="window.location.href='/'">🏠</button>
        <button class="menu-button" onclick="window.location.href='/promocao'">🌟Promoção</button>
        <button class="menu-button" onclick="window.location.href='/canecas'">🍵Canecas</button>
        <button class="menu-button" onclick="window.location.href='/brindes'">🎁Brindes</button>
        <button class="menu-button" onclick="window.location.href='/personalizados'">🎨Personalizados</button>
        <button class="menu-button" onclick="window.location.href='/prontaentrega'">⚡Pronta Entrega</button>
        <input class="search" type="text" placeholder="🔍Pesquisar">
    </div>

    <div class="background-menu-lateral"></div>
    <div class="right-section">
        <div class="register-button" onclick="location.href='/painel'">Cadastre-se</div>
        <div class="login-button" onclick="location.href='/painel'">Entrar</div>
        <div class="checkout-button" onclick="location.href='/carrinho'"> Carrinho
        </div>
    </div>

    <div class="menu-bar-bottom"></div>

    <!-- area login e registro -->

    <div class="background-center">
        <h1 class="h1-register">Cadastre-se</h1>
        <h1 class="h1-login">Login</h1>

        <form action="" method="get" class="form-register">
            <div class="form-register-input">
                <label for="email">Insira o seu email: </label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required />
            </div>
            <div class="form-register-input">
                <label for="password">Insira sua Senha: </label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha" required />
            </div>
            <div class="form-register-input">
                <input type="submit" value="Entrar" />
            </div>
        </form>
        
    </div>
</body>
</html>
