<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estação Criativa</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="./static/css/dashboard.css">

    <script src="./static/js/dashboard.js"></script>
</head>
<body>

    <div class="menu">
        <button class="home-button" onclick="window.location.href='/'">🏠</button>
        <button class="menu-button" onclick="window.location.href='/promocao'">Promoção</button>
        <button class="menu-button" onclick="window.location.href='/canecas'">Canecas</button>
        <button class="menu-button" onclick="window.location.href='/brindes'">Brindes</button>
        <button class="menu-button" onclick="window.location.href='/personalizados'">Personalizados</button>
        <button class="menu-button" onclick="window.location.href='/prontaentrega'">Pronta Entrega</button>
        <input class="search" type="text" placeholder="Search">
    </div>
    
    <!-- 
        <div class="menu">
        <button class="home-button">🏠</button>
        <button class="menu-button">🌟Promoção</button>
        <button class="menu-button">🍵Canecas</button>
        <button class="menu-button">🎁Brindes</button>
        <button class="menu-button">🎨Personalizados</button>
        <button class="menu-button">⚡Pronta Entrega</button>
        <input class="search" type="text" placeholder="🔍Search">
    </div>
    -->
    <div class="background-menu-lateral"></div>
    <div class="right-section">
        <div class="register-button">Cadastre-se</div>
        <div class="login-button">Entrar</div>
        <div class="checkout-button"> Carrinho
        </div>
    </div>

    <div class="menu-bar-bottom"></div>

</body>
</html>
