<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estação Criativa</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <!-- Cabeçalho com botões do menu e campo de busca -->
    <div class="menu">
        <button class="home-button" onclick="window.location.href='/'">🏠</button>
        <button class="menu-button" onclick="window.location.href='/promocao'">Promoção</button>
        <button class="menu-button" onclick="window.location.href='/canecas'">Canecas</button>
        <button class="menu-button" onclick="window.location.href='/brindes'">Brindes</button>
        <button class="menu-button" onclick="window.location.href='/personalizados'">Personalizados</button>
        <button class="menu-button" onclick="window.location.href='/prontaentrega'">Pronta Entrega</button>
        <input class="search" type="text" placeholder="Search">
    </div>
    
    <!-- Botões no canto superior direito -->
    <div class="right-section">
        <div class="register-button">Cadastre-se</div>
        <div class="login-button">Entrar</div>
        <div class="checkout-button"> Carrinho
        </div>
    </div>
</body>
</html>
